name: app_sizer
description: A flutter plugin for adapting screen.
version: 1.0.0
homepage: https://github.com/Moo-Meshrif/app_sizer
environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
